/* App.css */

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background: #f5f5f5;
}

.header {
  text-align: center;
  color: #e50914;
  margin-bottom: 20px;
  font-size: 2rem; /* Adjust font size as needed */
}

.app-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.photo-container {
  flex: 0 0 600px; /* Fixed width for photo container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px; /* Space between photo and form */
}

.app-photo {
  width: 600px; /* Fixed width */
  height: 600px; /* Fixed height */
  border-radius: 10px;
  object-fit: cover; /* Ensure the image covers the box */
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: #e50914;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

button:hover {
  background: white;
  color: black;
}

.error {
  color: red;
}

.notification {
  background: #4caf50; /* Green background for success message */
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

